.container{
    width:80%;
    height: 550px;
    margin-bottom: 150px;
    color:var(--white-color);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}