.containers{
   width:100%; 
   background-color: var(--black-color); 
   height:900px;
}

.navbar{
    margin:0rem 5rem;
    padding-top: 3rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}