.container{
    width:80%;
    color:var(--white-color);
    margin-bottom: 150px;
}

.headContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navBarContainer{
    width:200px;
    display: flex;
    justify-content: space-between;
}

.navBtnLeft{
    border: none;
    width:80px;
    height:80px;
    border-radius: 3rem;
    cursor: pointer;
}

.navBtnRight{
    border: none;
    width:80px;
    height:80px;
    border-radius: 3rem;
    cursor: pointer;
    background-color: var(--yellow-color); 
}

.leftNav{}

.rightNav{}

.clientCard{
    display:flex;
    justify-content: center;
    /* align-items: center; */
}

.slider{
    width:100%;
}