.container{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin:0 5rem;
    padding-top:3rem;
}

.titleContainer{
    padding-top: 2rem;
    width:500px;
    height:468px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color:var(--white-color);
}

.subtitle{
    padding-top:2rem;
    opacity: 30%;
}

.inputContainer{
    position:relative;
    display: flex;
    align-items: center; 
    padding-top:2rem;
}

.input{
    width:430px;
    height:74px;
    opacity: 10%;
    border-radius: 43px;
    padding-left: 3rem;
    /* opacity: 30%; */
}

.buttons{
    position:absolute;
    left:340px;
    top:2.6rem;
    width:137px;
    height:60px;
    border-radius: 43px;
    background-color: var(--yellow-color);
    border: none;
    font-weight: 600;
    cursor:pointer;
}

.emailLogo{
    position:absolute;
    left:20px;
    top:3.7rem;
    opacity: 30%;
}

.imgContainer{
    position:relative;
    width:468px;
    height:468px; 
    background-color: var(--yellow-color);
    border-radius: 55px;
}

.images{
    position:absolute;
    left:0%;
    top:-16%;
    width:468px;
    height:545px;   
    background-image: url('../../assets/lawyer_photo.png');
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    z-index:1;
}